name: but_is_it_jain_app
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  lottie: ^3.1.0
  google_fonts: ^6.2.1
  image_picker: ^1.0.0
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/lottie/
    - assets/jainicon.png
    - assets/nonjainicon.png
    - assets/uncertainicon.png
